<!DOCTYPE html>
<html>
    <head>
      {% block head %}
        <meta charset="UTF-8">
         <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
         <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
         <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
      {% endblock %}
    </head>
    <body>

<div id="content">{% block body %}{% endblock %}</div>
      <div id="footer">
                  {% block footer %}
                      &copy; Copyright 2018 by <a href="http://torsym">you</a>.
                  {% endblock %}
              </div>
  </body>
</html>
